.Portfolio{
  background-color: white;
  display: flex;
  .right{
    h2 {
      font-size: 35px;
      color: #15023a;
      position:center;
      margin-left: 40%;

      
        
    }
    h3{
      margin-left: 12px;
      color:#15023a;
      margin-top: 20px;
    }
    h4{
      
      color:crimson;
    }
    h3{
      margin-left: 90px;
      color:#15023a;
      margin-left: 120px;
      margin-top: 2px;
    }
    h5{
      
      color:#15023a;
    }
    
    .specialité{
      color:crimson;
    }

flex:0.5;
overflow: hidden;

  }
  .left{
    
    h2 {
      font-size: 35px;
      color: #15023a;
      position:center;
      margin-left: 40%;

      
        
    }
    h3{
      margin-left: 90px;
      color:#15023a;
    }
    h5{
      color:crimson;
    }
    .specialité{
      color:crimson;
      .h5{
        color:crimson;
      }
    }
flex:0.5;
position: relative;
  }
}