.Skills{
    background-color: white;
    scrollbar-width: none;
    display: flex;
    .skill{
        color:crimson;
        
    }
    .first{
        justify-content: space-between;
        margin-top: 100px;
        margin-left:200px;
        .comp {
            margin-bottom: 20px;
       
        
    }
    
       
}
.right{
    margin-left: 100px;
    flex: 0.5;
    overflow: hidden;
   
    .first{
        justify-content: space-between;
        margin-top: 100px;
        margin-left: 200px;
        .comp {
            margin-bottom: 20px;
       
        
    }
    }
}
}